WOODPECKER_HOST=https://ci.node804
WOODPECKER_GITEA_URL=https://git.node804
WOODPECKER_GITEA_CLIENT=YOUR_GITEA_CLIENT_ID
WOODPECKER_GITEA_SECRET=YOUR_GITEA_CLIENT_SECRET
WOODPECKER_AGENT_SECRET=YOUR_RANDOM_64_CHARACTER_SECRET
